<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<section class="columns">
<!-- left -->
<section class="column">
  <article>
    <figure class="image">
      <img src="https://fakeimg.pl/350x150/f0f0f0" alt="">
    </figure>
      <h2 class="title is-5">Creating a Pipeline to True Workplace Diversity</h2>
        <p class="content">Providing resources, offering acceptance, and involving people of color are keys to making your company more diverse...</p>
      <footer>
      <p>Arielle Wiltz in Modus</p>
      <p>Aug 7</p>
      </footer>
  </article>
</section>
        <!-- left -->
        <!-- middle -->
        <section class="column">
          <article class="media">
            <figure class="media-left">
              <img src="https://fakeimg.pl/100x100/">
            </figure>
            <div class="media-content">
              <h2 class="title is-5">I Worked for an Amish Reality TV Show</h2>
              <footer>
                <p>Arielle Wiltz in Modus</p>
                <p>Aug 7</p>
              </footer>
            </div>
          </article>
          <article class="media">
            <figure class="media-left">
              <img src="https://fakeimg.pl/100x100/">
            </figure>
            <div class="media-content">
              <h2 class="title is-5">I Worked for an Amish Reality TV Show</h2>
              <footer>
                <p>Arielle Wiltz in Modus</p>
                <p>Aug 7</p>
              </footer>
            </div>
          </article>
          <article class="media">
            <figure class="media-left">
              <img src="https://fakeimg.pl/100x100/">
            </figure>
            <div class="media-content">
              <h2 class="title is-5">I Worked for an Amish Reality TV Show</h2>
              <footer>
                <p>Arielle Wiltz in Modus</p>
                <p>Aug 7</p>
              </footer>
            </div>
          </article>
        </section>
        <!-- middle -->
        <!-- right -->
        <section class="column">
          <article>
            <figure class="image">
              <img src="https://fakeimg.pl/350x200/f0f0f0" alt="">
            </figure>
            <h2 class="title is-5">Creating a Pipeline to True Workplace Diversity</h2>
            <p class="content">Providing resources, offering acceptance, and involving people of color are keys to making your company more diverse...</p>
            <footer>
              <p>Arielle Wiltz in Modus</p>
              <p>Aug 7</p>
            </footer>
          </article>
        </section>
        <!-- right -->
      </section>

      <hr>

      <section class="columns">
        <!-- article list -->
        <section class="column is-two-thirds">
          <article class="media">
            <div class="media-content">
              <h2 class="title is-4">「假新聞」在反擊戰術面的勤奮</h2>
              <p class="content">我一直對台灣中央政府一級單位對於所謂「不實訊息」的反應如此快速，感到很疑惑。到底有效無效，反應這麼快是好還是不好，我們借用前天的一個例子來探討。這個例子是，行政院長蘇貞昌「擲筆」的新聞。行政院的澄清稿在這裏，原始訊息的出處，我們暫先不貼。</p>
              <footer>
                <p>T.H. Schee in 網路政策 | Taipei.IO</p>
              </footer>
            </div>
            <figure class="media-right">
              <img src="https://fakeimg.pl/150x150/">
            </figure>
          </article>

          <article class="media">
            <div class="media-content">
              <h2 class="title is-4">「假新聞」在反擊戰術面的勤奮</h2>
              <p class="content">我一直對台灣中央政府一級單位對於所謂「不實訊息」的反應如此快速，感到很疑惑。到底有效無效，反應這麼快是好還是不好，我們借用前天的一個例子來探討。這個例子是，行政院長蘇貞昌「擲筆」的新聞。行政院的澄清稿在這裏，原始訊息的出處，我們暫先不貼。</p>
              <footer>
                <p>T.H. Schee in 網路政策 | Taipei.IO</p>
              </footer>
            </div>
            <figure class="media-right">
              <img src="https://fakeimg.pl/150x150/">
            </figure>
          </article>

          <article class="media">
            <div class="media-content">
              <h2 class="title is-4">「假新聞」在反擊戰術面的勤奮</h2>
              <p class="content">我一直對台灣中央政府一級單位對於所謂「不實訊息」的反應如此快速，感到很疑惑。到底有效無效，反應這麼快是好還是不好，我們借用前天的一個例子來探討。這個例子是，行政院長蘇貞昌「擲筆」的新聞。行政院的澄清稿在這裏，原始訊息的出處，我們暫先不貼。</p>
              <footer>
                <p>T.H. Schee in 網路政策 | Taipei.IO</p>
              </footer>
            </div>
            <figure class="media-right">
              <img src="https://fakeimg.pl/150x150/">
            </figure>
          </article>

          <article class="media">
            <div class="media-content">
              <h2 class="title is-4">「假新聞」在反擊戰術面的勤奮</h2>
              <p class="content">我一直對台灣中央政府一級單位對於所謂「不實訊息」的反應如此快速，感到很疑惑。到底有效無效，反應這麼快是好還是不好，我們借用前天的一個例子來探討。這個例子是，行政院長蘇貞昌「擲筆」的新聞。行政院的澄清稿在這裏，原始訊息的出處，我們暫先不貼。</p>
              <footer>
                <p>T.H. Schee in 網路政策 | Taipei.IO</p>
              </footer>
            </div>
            <figure class="media-right">
              <img src="https://fakeimg.pl/150x150/">
            </figure>
          </article>

          <article class="media">
            <div class="media-content">
              <h2 class="title is-4">「假新聞」在反擊戰術面的勤奮</h2>
              <p class="content">我一直對台灣中央政府一級單位對於所謂「不實訊息」的反應如此快速，感到很疑惑。到底有效無效，反應這麼快是好還是不好，我們借用前天的一個例子來探討。這個例子是，行政院長蘇貞昌「擲筆」的新聞。行政院的澄清稿在這裏，原始訊息的出處，我們暫先不貼。</p>
              <footer>
                <p>T.H. Schee in 網路政策 | Taipei.IO</p>
              </footer>
            </div>
            <figure class="media-right">
              <img src="https://fakeimg.pl/150x150/">
            </figure>
          </article>
        </section>
        <!-- article list -->

        <section class="column">
          <h2 class="title is-4">Popular on Medium</h2>
          <hr>

          <article class="media">
            <div class="media-left">01</div>
            <div class="media-content">
              <h3>Difficult Conversation Lessons From a Psychologist Who’s Been Dealing With People</h3>
              <footer>
                <p>Thomas Oppong</p>
              </footer>
            </div>
          </article>

          <article class="media">
            <div class="media-left">02</div>
            <div class="media-content">
              <h3>Difficult Conversation Lessons From a Psychologist Who’s Been Dealing With People</h3>
              <footer>
                <p>Thomas Oppong</p>
              </footer>
            </div>
          </article>

          <article class="media">
            <div class="media-left">03</div>
            <div class="media-content">
              <h3>Difficult Conversation Lessons From a Psychologist Who’s Been Dealing With People</h3>
              <footer>
                <p>Thomas Oppong</p>
              </footer>
            </div>
          </article>

          <article class="media">
            <div class="media-left">04</div>
            <div class="media-content">
              <h3>Difficult Conversation Lessons From a Psychologist Who’s Been Dealing With People</h3>
              <footer>
                <p>Thomas Oppong</p>
              </footer>
            </div>
          </article>

          <article class="media">
            <div class="media-left">05</div>
            <div class="media-content">
              <h3>Difficult Conversation Lessons From a Psychologist Who’s Been Dealing With People</h3>
              <footer>
                <p>Thomas Oppong</p>
              </footer>
            </div>
          </article>
        </section>
      </section>